header {
    color: #00ffae;
    text-align: center;
    font-family: "Kalnia Glaze", Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: black;
    color: whitesmoke;
    margin: 50px 50px 0px 50px;
}
nav {
    background-color: #254827;
    padding: 20px 10px 10px 20px;
    font-family: "press start 2p", Verdana, Tahoma, sans-serif;
}